.user-panel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-create {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding-bottom: 1000px;
}

.project-create a {
  position: fixed;
  top: 190px;
  right: 600px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 2;
}

.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
