.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.console-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 150px;
}

.editor-wrapper {
  flex: 1;
  height: 100%;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}